<launch>

    <arg name="agent_dist_publisher_config_file" default="$(find extended_navigation_mapping)/config/navigation/agent_dist_publisher_config.yaml"/>
    <arg name="path_follower_config_file" default="$(find extended_navigation_mapping)/config/navigation/path_following_config_sim.yaml"/>

    <!-- Agent distance publisher -->
    <node pkg="extended_navigation_mapping" type="agent_dist_publisher.py" name="agent_dist_pub" output="screen">
        <rosparam file="$(arg agent_dist_publisher_config_file)"/>
    </node>
    <!-- Path following server -->
    <node pkg="extended_navigation_mapping" type="path_following_server.py" name="path_follower" output="screen">
        <rosparam file="$(arg path_follower_config_file)"/>
    </node>
</launch>